/* HEADER */

.nav-link {
    color: black;
}

.btn {
    border-radius: 100px;
}

.lens {
    width: 40px;
    height: 40px;

}

.sony-logo {
    height: 20px;
}


/* JUMBOTRON */

.jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 60vh;
    color: white;
}

.ms-n1 {
    margin-left: -0.25rem !important;
}