/* HEADER */

.nav-link {
    color: black;
}

.btn {
    border-radius: 100px;
}

.lens {
    width: 40px;
    height: 40px;

}

.sony-logo {
    height: 20px;
}


/* JUMBOTRON */

.jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 65vh;
}

.ms-n4 {
    margin-left: -1.5rem !important;
}

/* GAMES NAVIGATION */

.games-navigation img {
    border-radius: 10px;
}

/* IT TAKES TWO */

.itt {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 65vh;
}

/* NUOVE USCITE */

.nuove-uscite img {
    border-radius: 10px;
}

/* ESPLORA PS4 */

p {
    margin: 0;
}

/* PLAYSTATION PLUS */

.ps-plus .btn {
    color: blue;
    background-color: #d9dadc;
}

/* PLAYSTATION NOW */

.ps-now {
    background-color: #161c3b;
}

.ps-now .btn {
    background-color: white;
    color: black;
}

/* FOOTER */

footer {
    background-color: #00439c;
}

footer a {
    color: white;
    text-decoration: none;
}

footer li {
    list-style: none;
}

footer img {
    width: 120px;
}

footer ul>* {
    margin: 0.5rem auto;
}