/* HEADER */

.nav-link {
    color: black;
}

.btn {
    border-radius: 100px;
}

.lens {
    width: 40px;
    height: 40px;

}

.sony-logo {
    height: 20px;
}


/* JUMBOTRON */

.jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 60vh;
}

.ms-n1 {
    margin-left: -0.25rem !important;
}

/* GAMES NAVIGATION */

.games-navigation img {
    border-radius: 10px;
}

/* IT TAKES TWO */

.itt {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 60vh;
}

/* NUOVE USCITE */

.nuove-uscite img {
    border-radius: 10px;
}

/* ESPLORA PS4 */

p {
    margin: 0;
}

/* PLAYSTATION PLUS */

.ps-plus .btn {
    color: blue;
    background-color: #d9dadc;
}

/* PLAYSTATION NOW */

.ps-now {
    background-color: #161c3b;
}

.ps-now .btn {
    background-color: white;
    color: black;
}